<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andromachekaranika.personal_planner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homescreen"
            android:label="@string/title_activity_homescreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Alarms"
            android:label="@string/title_activity_alarms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Schedult"
            android:label="@string/title_activity_schedult"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calendar"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Week"
            android:label="@string/title_activity_week"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddEvent"
            android:label="@string/title_activity_add_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetupName"
            android:label="@string/title_activity_setup_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
